body {
  background-color: #282c34;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #424242;
}

.App .user-icon {
  padding-right: 0px;
  transform: translatex(204px) translatey(9px);
  top: -20px;
  left:88px;
  right: -200px;
  position: relative;
  transform: translatex(-106px) translatey(17px);
  width: 14% !important;
  height: 48px;
  word-spacing: -0.7px;
  background-color: rgba(40, 44, 52, 0);
  z-index: 100;
  padding-bottom: 1px;
}

.App header h1 {
  position: relative;
  left:5px;
}

.App .sidebar{
  position:absolute;
  z-index:960;
  top:100px;
  min-height:481px;
  width:167px;
  border-radius: 10px;
  transform:translatex(0px) translatey(-36px);
  background-color:#141313;
 }
 
 /* Heading */
 .App .sidebar h2{
  background-color:rgba(96,96,96,0);
  background-repeat:repeat;
  color:#ffffff;
 }
 
 /* Heading */
 .App .sidebar h4{
  color:#ffffff;
  width:50%;
 }
 
 /* Division */
 .App .sidebar div{
  color:#ffffff;
  width:49%;
  min-height:33px;
  transform:translatex(88px) translatey(-42px);
 }
 
 /* List */
 .App .sidebar ul{
  color:#ffffff;
  padding-bottom:7px;
  transform:translatex(0px) translatey(-53px);
 }
 

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: #424242;
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  border-radius: 50%;
  width: 20%;
  background-color: rgb(56, 56, 143);
}


input {
  line-height: 1.5;
  width: 99%;
  border-radius: 50px;
  font-size: 1.5rem;
  background: #232323;
  color: rgb(0, 0, 0);
  outline: none;
  border: none;
  padding: 0 10px;
}

button {
  background-color: #282c34;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

.sign-out {
  box-shadow: 0px 3px 28px 3px #125b9f !important;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  backdrop-filter: brightness(0);
  background-color: #2181aa;
  overflow: visible;

}

.sign-out :hover {
  transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}


ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}

.received p {
  background: #e5e5ea;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}